<mat-toolbar color="primary">
    <h1>Spelovanje</h1>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">
        <h1>Spelovanje</h1>
        <p>Izgovor slova na Engleskom jeziku</p>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" color="primary">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" color="primary">
            <mat-icon>notes</mat-icon>
            <span>Slova</span>
        </button>
        <mat-divider></mat-divider>
        <h2>O Nama</h2>
        <p>
            Na ovom sajtu možete da naučite kako se izgovara engleska abeceda. 
            Ukoliko želite nekome da spelujete neku reč ovo je pravi sajt za Vas. 
            Ovaj sajt Vam omogućava jednostavnim unosom reči u polje i klikom na dugme SPELUJ
             da saznate kako se koje slovo izgovara. : )
        </p>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <h2>Unesite rec koju zelite da spelujete</h2>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                  <mat-label>Unesite ime</mat-label>
                  <input matInput placeholder="Name" value="Name">
                </mat-form-field>
            </form>
            <button mat-flat-button color="primary">
                Submit
            </button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

