<form class="example-form" [formGroup]="form" (ngSubmit)="speluj()">
    <mat-form-field appearance="outline" class="vlicinaInput">
        <mat-label>Unesite rec koju zelite da spelujete</mat-label>
        <input formControlName="rec" matInput autocomplete="off">
        <mat-icon matSuffix (click)="spelujAudio()"><span class="material-icons-outlined">
            volume_up
            </span></mat-icon>
    </mat-form-field>
</form>
<button mat-flat-button color="primary" [disabled]="form.invalid" (click)="speluj()">
    Speluj
</button>

<br>
<br>
<div *ngFor="let slovo of izgovorSlova">
    {{slovo.text}} = {{slovo.pronunciation}}
</div>