<mat-toolbar color="primary">
    <h1>Spelovanje</h1>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <h1>Spelovanje</h1>
        <p>Izgovor slova na Engleskom jeziku</p>
        <mat-divider></mat-divider>
        <div *ngFor="let items of menu;">
            <a [routerLink]="items.path" mat-button class="menu-button" color="primary" (click)="sidenav.mode === 'over' ? sidenav.toggle(): null">
                <mat-icon>{{items.icon}}</mat-icon>
                <span>{{items.text}}</span>
            </a>
            <mat-divider></mat-divider>
        </div>
        <h2>O Nama</h2>
        <p>
            Na ovom sajtu možete da naučite kako se izgovara engleska abeceda. 
            Ukoliko želite nekome da spelujete neku reč ovo je pravi sajt za Vas. 
            Ovaj sajt Vam omogućava jednostavnim unosom reči u polje i klikom na dugme SPELUJ
             da saznate kako se koje slovo izgovara. : )
        </p>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>