<mat-toolbar color="primary">
    <h1>Spelovanje</h1>
    <div>
        <button mat-icon-button (click)="darkMode = !darkMode">
            <mat-icon *ngIf="darkMode">
                brightness_5
            </mat-icon>
            <mat-icon *ngIf="!darkMode">
                bedtime
            </mat-icon>
        </button>
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">
                menu
            </mat-icon>
            <mat-icon *ngIf="sidenav.opened">
                close
            </mat-icon>
        </button>
    </div>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <p>Izgovor slova na Engleskom jeziku</p>
        <mat-divider></mat-divider>
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option [routerLink]="items.path" *ngFor="let items of menu" [value]="items.text">
                <mat-icon matListItemIcon>{{items.icon}}</mat-icon>
                <div matListItemTitle>{{items.text}}</div>
            </mat-list-option>
            <mat-divider></mat-divider>
        </mat-selection-list>
        <h2>O Nama</h2>
        <p>
            Na ovom sajtu možete da naučite kako se izgovara engleska abeceda.
            Ukoliko želite nekome da spelujete neku reč ovo je pravi sajt za Vas.
            Ovaj sajt Vam omogućava jednostavnim unosom reči u polje i klikom na dugme SPELUJ
            da saznate kako se koje slovo izgovara. : )
        </p>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>